body,
ul,
p,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: black;
}

a {
    text-decoration: none;
    color: gold;
    font-weight: bold;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*espaço entre*/
    /* padding-left: 20px;
    padding-right: 20px; */
    align-items: center;
    padding: 20px;
    background-color: gold;
    margin: 0 auto;   
    
}

.menu {
    display: flex;
    
}

.menu li {
    margin-left: 10px;
   

}

.menu li a {
    display: block;
    padding: 10px;
    background: tomato;
    width: 100px;
    text-align: center;
    border: 4px solid orange;
    border-radius: 5px;
    
}
.body {
    margin-bottom: 100px;
}

.header img{
    max-width: 50%;
        
}

.menu li a:hover{
    border: solid orange;
}

/* CSS FLEXBOX*/

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%; /*tamnha maximo do container*/
    display: block;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flexbox > div {
    flex: 1 1 200px;
    margin: 10px;

}

.flexbox div p {
    text-align: center;
}

/*GRID CSS*/

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px; /*780*/
    padding: 10px;
    margin: 0 auto;
    gap: 20px;

}

/* .grid1 > div:nth-child(1){ */
 /* background-color: blueviolet; */
.grid1>div:nth-child(n + 4) { /* a partir do 4 item*/
    /* background-color: blueviolet; */
    display: grid; /*grid img-txt*/
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    align-items: center;
}

.grid1>div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
    border: 5px solid;
}

.grid1 div p {
    text-align: center;
}


/*a partir desse tamanho muda o estilo*/
@media(max-width:600px) { 
    .grid1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid1>div:nth-child(n + 4) {
        display: block;
    }

    .grid1>div.anuncio{
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}

/*GRID2 CSS*/

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sidebar > div{
    margin-bottom: 10px;
}

@media (max-width: 600px) {
.grid2{
    grid-template-columns: 1fr;
}

.sidebar{
    display: flex;
    overflow: scroll;
}

.sidebar > div {
    flex: 1 0 200px;
    margin: 0 10px;

}
}
