@charset "UTF-8";

*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #FFDED2;
}

header{
    background-color: rgba(248, 248, 248, 0.13);
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: -50px;
}

footer {
    background-color: #ff7a71fd;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    width: 100%;
    bottom: 0.5px;
    height: 100px;
    
 
}

div.footer{
   display: inline-flex;
   
     
}

nav{
margin-top: -1px;
justify-content: right;
display: flex;
background-color:#fa574bfd;
height: 140px;
margin-left: -9px;
margin-right: -9px;
}


nav a{
    
    text-decoration: none;
    font-weight: bolder;
    margin: 25px;
    
    
}

nav a{
    color: #FFC72C;
    font-family: "Satisfy", cursive;
    font-size: 2.5em;
    margin-top: 80px;
    

  
   
    
    
}

nav ul{
    display: inline-flex;
    list-style: none; 
    }

nav a:hover{
    font-style: italic;
    color:gold ;
    font-weight: bold;
    font-size: 3em;
  
   
}


h1 {
    font-family: "Satisfy", cursive;
    text-align: left;
    font-size: 6em;
    font-weight: bold;
    justify-content: center;
    height: 3px;
    color:#FFC72C;
    margin-top: 40px;
    margin-left: 50px;;
    
}

.h1p{
    font-family: "Satisfy", cursive;
    font-size: 6em;
    color: #7c0a027b;
}



h1 a{
    font-family: "Satisfy", cursive;
    color:#FFC72C;
    text-decoration: none;
}

nav ul li{
width: 140px;
margin: 15px;
padding: 15px;

}


.img-left{
  width: 397px; /* Ajusta automaticamente a largura */
  height: auto; /* Ajusta automaticamente a altura */
  max-width: 100%; /* Garante que a imagem nunca será maior que o contêiner */
  display: block; /* Remove o espaço em branco em torno da imagem (opcional) */
  padding-top: 2px;
  margin-left: 60px;
  border: solid #da291c42 10px;
  margin-top: 28px;
  border-style:groove;
 

}

main{
    height: auto;
    width: auto;
    margin-top: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

main div{
    display: flex;
}
.div-img{
    display: inline-flex;
    gap: 200px; /* Espaço entre as imagens */
    margin-top: 150px;
    margin-left: 1500px;
    margin-right: 900px;
    margin-bottom: 150px;
    width: 3500px;

  
    text-align: center;
    align-items: center;
    align-content: center;  
    font-size: 4em;
    
  

    
   
}

.div-img-s{
    display: flex;
    margin-top: 150px;
    margin-left: 55px;
    
    width: 1000px;   /* Largura desejada */
    height: 500px;  /* Altura desejada */
    text-align: center;
    font-size: 4em;
    
  

    
   
}

.imagem {
    
    height: 500px;    /* Mantém a proporção da imagem */
    width: 500px;
    border: solid #da291c42 10px;
    border-style:groove;
    align-content: baseline;
    
  

    
}

.imagem2 {
    
    height: 500px;    /* Mantém a proporção da imagem */
    width: 800px;
    border: solid #a56d69a8 15px;
    border-style:groove;

    
}

.imagem:hover{
    background-color: #FFC72C;
}
  
  
  

.titulos{
    font-family: "Playwrite DE Grund", cursive;
    color: black;
}

div a{
    padding-top: 20px;
    text-decoration: none;
    color: #7c0a027b;
    
    
              
}

div p{
    font-family: "Satisfy", cursive;
    
    
}



h2{
    padding-top: 20px;
}

ul li{
    font-family: sans-serif;
    

}

.it-ingredientes{
    font-family: "Satisfy", cursive;
    font-size: 2em;
    color:#7c0a027b;
    margin-top: 10px;
    margin-left: 10px;
    list-style-type: circle;
    
}

.ingredientes{
    font-family: "Satisfy", cursive;
    font-size: 2em;
    color:black;
    margin-top: 10px;
    margin-left: 70px;
    list-style-type: circle;
    height: 500px;
    
}
.txtimgl{
 margin-left: 140px;
 font-family: "Satisfy", cursive;
 font-size: 3em;
 padding: 0;
}

ol li{
    font-family: sans-serif;
    font-size: 1.4em;

}