@charset "UTF-8";

*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #FFDED2;
}

header{
    background-color: rgba(248, 248, 248, 0.13);
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: -50px;
}

footer {
    background-color: #ff7a71fd;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    width: 100%;
    bottom: 0.5px;
    height: 100px;
    
 
}

div.footer{
   display: inline-flex;
   
     
}
nav{
margin-top: -1px;
justify-content: right;
display: flex;
background-color:#DA291C;
height: 140px;
margin-left: -9px;
margin-right: -9px;



}

nav a{
    
    text-decoration: none;
    font-weight: bolder;
    margin: 15px;
    
    
}

nav a{
    color: #FFC72C;
    font-family: "Satisfy", cursive;
    font-size: 2.5em;
    margin-top: 80px;
    

  
   
    
    
}

nav ul{
    display: inline-flex;
    list-style: none; 
    }

nav ul:hover{
    background-color: #6d87c4b2;
   
}


h1{
    font-family: "Satisfy", cursive;
    text-align: left;
    font-size: 6em;
    font-weight: bold;
    justify-content: center;
    height: 3px;
    color:#FFC72C;
    margin-top: 40px;
    margin-left: 50px;;
    
}

nav ul li{
width: 140px;
margin: 15px;
padding: 15px;

}


.img-left{
  width: 397px; /* Ajusta automaticamente a largura */
  height: auto; /* Ajusta automaticamente a altura */
  max-width: 100%; /* Garante que a imagem nunca será maior que o contêiner */
  display: block; /* Remove o espaço em branco em torno da imagem (opcional) */
  padding-top: 2px;
  margin-left: 60px;
  border: solid #da291c42 10px;
  margin-top: 28px;
  border-style:groove;
 

}

.img-c{
    width: 50px; /* Ajusta automaticamente a largura */
    height: auto; /* Ajusta automaticamente a altura */
    max-width: 100%; /* Garante que a imagem nunca será maior que o contêiner */
    display: block; /* Remove o espaço em branco em torno da imagem (opcional) */
    padding-top: 10px;
    border: solid #da291c42 10px;
    margin-top: 30px;
    border-style:groove;
 
   
   
  
  }

.titulos{
    font-family: "Playwrite DE Grund", cursive;
    color: black;
}

p{
    padding-top: 20px;
        
}

h2{
    padding-top: 20px;
}

ul li{
    font-family: sans-serif;
    

}

.txtimgl{
 margin-left: 200px;
 font-family: "Satisfy", cursive;
 font-size: 3em;
 padding: 0;
}

ol li{
    font-family: sans-serif;
    font-size: 1.4em;

}