@charset "UTF-8";
/*importando fonte*/
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

/*declarando variáveis*/
:root{
        --fonttitulos:"Allura", serif;
        --corfundotitulo:#f7c52ff6;
        --corletratitulo:#EF5124;
        --corsombra:#C02604;

}

/* resetando margem e padding*/
*{margin: 0;
padding: 0;
}



body{
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    text-align: justify;
    flex: auto;
    max-width: 100%;

}

main{
           
            font-family: var(--fonttitulos);
            padding: 2,6%;
            border-radius: 30px;            
            min-width: 16,6%;
            max-width: 100%;
            margin: auto;
            }        

main h1{
    display: flex;
    font-size: 2em;
    text-align: left;
    color: var(--corletratitulo);
    
}

header {
    max-width: 100%;
    margin: auto;
}

main ul{
    font-family: var(--fonttitulos);
    font-size: 2em;
    padding: 0.5%;
       
}

main h2{
    font-family: var(--fonttitulos);
    font-size: 2em;
    padding:0.26%;
    color: var(--corletratitulo);
    
    
}

main ul li{
    margin-left: 3%;
}

main img{
    max-width: 60%;
   
    border-radius: 50px;  
    margin: auto;
  
}

main p{
    font-family: var(--fonttitulos);
    font-size: 1em;   
    text-align: justify;
    flex-wrap: wrap;
  
}

/* Estilos para o nav */
.nav1 {
    display: flex;            /* Habilita o Flexbox */
    flex-wrap: wrap;           /* Permite que as imagens quebrem para a próxima linha se necessário */
    justify-content: center; /* Distribui o espaço entre as imagens */
    gap: 1%;                 /* Espaçamento entre as imagens */
    margin-top: 5%;
    text-align: center;  /* alinha o texto nas imagens*/
    font-family: var(--fonttitulos); /*define a fonte do menu*/
    font-size: 2em; /* tamanho da fonte*/
    color: #C02604;  /* cor da fonte*/
  
    
    
   
}

nav div a{  /*define as cores 
    dos links do menu*/
    text-decoration: none;
    color: var(--corletratitulo); 
    
}

nav div a:visited{color: var(--corletratitulo);}

nav div a p:hover{color: var(--corsombra);}


/* Estilos para as imagens */
nav img {
    width: 100%;               /* Ocupa 100% do espaço disponível dentro de seu container flex */
    max-width: 90%;           /* Define uma largura máxima para as imagens */
    height: auto;               /* Mantém a proporção da imagem */
    object-fit: cover;          /* Ajusta a imagem para cobrir o espaço disponível sem distorcer */
}

/* Estilos para os containers das imagens */
.image-container {
    flex: 1 1 25%;            /* O container cresce e encolhe, com largura mínima de 150px */
    max-width: 15%;           /* Define uma largura máxima */
  
}

header h1{
    font-family: var(--fonttitulos);
    font-size: 3em;
    border-bottom: solid var(--corsombra) 10px;
    margin-top: 28px;   
    color: var(--corletratitulo);
    font-weight: bolder;
      
}

header h1 a{
    text-decoration: none;
    color: var(--corletratitulo);
    
}

header nav a{
    display: block;
    color: var(--corletratitulo);
    text-decoration: none;
    font-weight: bold;
    font-size:3em;
    text-align: left;
    font-family: var(--fonttitulos);
    
}

header nav{
    display: inline-flexbox;            /* Habilita o Flexbox */
            /* Permite que as imagens quebrem para a próxima linha se necessário */
        }          

header nav a:hover{
   color: var(--corsombra);
   font-style: italic;
}
 





.nav2{
margin-top: -70px;
justify-content: right;
display: flex;
height: 140px;
margin-left: 4px;
margin-right: 10px;
gap: 50px;
color: #C02604;
}


footer{
    text-align: center;
    padding-top: 180px;
    font-size: 2.5em;
    font-family: var(--fonttitulos);
}

nav p:hover{
    color: #EF5124;
       
}



