@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

:root{
        --fonttitulos:"Allura", serif;
        --corfundotitulo:#F3B703;
        --corletratitulo:#EF5124;
        --corsombra:#C02604;

}

*{margin: 0;
padding: 0;
}

/*
#F3B703 yelow
#EF5124 red
#C02604 orange

*/


body{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
/* Estilos para o nav */
.nav1 {
    display: flex;            /* Habilita o Flexbox */
    flex-wrap: wrap;           /* Permite que as imagens quebrem para a próxima linha se necessário */
    justify-content: center; /* Distribui o espaço entre as imagens */
    gap: 100px;                 /* Espaçamento entre as imagens */
    margin-top: 300px;
    text-align: center;  
    font-family: var(--fonttitulos);
    font-size: 5em;
   

    
   
}

/* Estilos para as imagens */
nav img {
    width: 100%;               /* Ocupa 100% do espaço disponível dentro de seu container flex */
    max-width: 300px;           /* Define uma largura máxima para as imagens */
    height: auto;               /* Mantém a proporção da imagem */
    object-fit: cover;          /* Ajusta a imagem para cobrir o espaço disponível sem distorcer */
}

/* Estilos para os containers das imagens */
.image-container {
    flex: 1 1 150px;            /* O container cresce e encolhe, com largura mínima de 150px */
    max-width: 300px;           /* Define uma largura máxima */
}

header h1{
    font-family: var(--fonttitulos);
    font-size: 10em;
    background-color: var(--corfundotitulo);
    color: var(--corletratitulo);
    font-weight: bolder;
      
}

header h1 a{
    text-decoration: none;
    color: var(--corletratitulo);
    
}

header nav a{
    display: block;
    color: var(--corletratitulo);
    text-decoration: none;
    font-weight: bold;
    font-size:3em;
    text-align: left;
    font-family: var(--fonttitulos);
    font-size: 3.5em;
}

header nav a:hover{
   color: var(--corsombra);
   font-style: italic;
}
    
 
    


header nav{
    display: inline-flexbox;            /* Habilita o Flexbox */
            /* Permite que as imagens quebrem para a próxima linha se necessário */
            

}

.nav2{
margin-top: -60px;
justify-content: right;
display: flex;
height: 140px;
margin-left: 4px;
margin-right: 10px;
gap: 50px;
}


